<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/container.css' />
    <link rel='stylesheet' href='/stylesheets/banner.css' />
    <link rel='stylesheet' href='/stylesheets/product.css' />
</head>
<body>
<div class="wrap">
    <%- include ../partials/header_login.ejs -%>
    <%- include ../partials/deleteprod.ejs -%>
    <div class="container">
        <div style="padding-bottom: 30px">
            <div class="index_title">
                DOG BEST 관리
            </div>
            <div class="banner_title">
                PRODUCT 관리
            </div>
            <ol>
                <% if (products.length != 0 ) { %>
                    <% products.forEach(function(product) { %>
                        <li>
                            <%- product.prodSeq %> .
                            <%- product.name %>
                            <button style="float: right" onclick="delete_product(<%- product.prodSeq%>);">삭제</button>
                        </li>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td>등록된 상품이 없습니다</td>
                    </tr>
                <% } %>
            </ol>
        </div>
    </div>
</div>
</body>
</html>
