<!DOCTYPE html>
<html>
<head>
  <title>봄이와 얌</title>
  <%-include('partials/header.ejs');-%>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<<<<<<< HEAD


=======
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/floatbanner.js"></script>
>>>>>>> a6e22c2c8c07fb4181445941d4bc6fface8fc6ce
</head>
<body>
<div id="wrap">
  <%-include('partials/nav.ejs',{categories});-%>
  <!--헤더-->
  <%- include('partials/floatbanner.ejs'); -%>
  <a href="/signaturepick/bom">
    <div class="BOM_icon">BOM's pick</div>
  </a>
  <a href="/signaturepick/yam">
    <div class="YAM_icon">YAM's pick</div>
  </a>
  <!-- 픽 고정배너-->
  <div id="container">
    <div class="main_visual">
      <div class="slide">
        <ul>
          <li><img src="images/banner1.svg" alt="배너1"></li>
          <li><img src="images/banner2.svg" alt="배너2"></li>
          <li><img src="images/banner3.svg" alt="배너3"></li>
          <li><img src="images/banner4.svg" alt="배너4"></li>
        </ul>
        <button class="prev" type="button"><img src="images/bannerbtn1.svg" alt="이전버튼"></button>
        <button class="next" type="button"><img src="images/bannerbtn2.svg" alt="다음버튼"></button>
      </div>
    </div>
    <!--메인베너-->
    <div class="best">
      <div class="main_ani_best">
        <div></div>
        <div class="ani_best_title">
          DOG BEST
        </div>
        <a href="/best/dog"> <button class="more_btn">more</button></a>
      </div>
      <ul class="ani_best">
        <% dogbests.forEach(product => { %>
        <%- include('partials/product.ejs', {product : product} ); %>
        <% }) %>
      </ul>
      <div class="main_ani_best">
        <div></div>
        <div class="ani_best_title">
          CAT BEST
        </div>
        <a href="/best/cat"> <button class="more_btn">more</button></a>
      </div>
      <ul class="ani_best">
        <% catbests.forEach(product => { %>
          <%- include('partials/product.ejs', {product : product} ); %>
        <% }) %>
      </ul>
    </div>
    <!--베스트 영역-->
  </div>
  <!--컨테이너 영역-->
 <%-include('partials/footer.ejs');-%>
  <!--footer-->
</div>
</body>
</html>

