<!DOCTYPE html>
<html>
<head>
    <%-include('../partials/header.ejs');-%>
    <title>봄이와 얌</title>
    <link rel="stylesheet" href="../stylesheets/best.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="../javascripts/best.js"></script>
</head>
<body>
<div id="wrap">
    <%-include('../partials/nav.ejs');-%>
    <%-include('../partials/pick_icon.ejs');-%>
    <!--pick 아이콘-->
    <div id="container">
        <%-include('../partials/floatbanner.ejs');-%>
        <div class="tab_menu">
            <ul class="tab_title">
                <li class="tab_btn current" data-tab="tab-1">DOG</li>
                <li class="tab_btn" data-tab="tab-2">CAT</li>
            </ul>
            <div id="tab-1" class="tab_content current">
                <div class="main_ani_best">
                    <div></div>
                    <div class="ani_best_title">
                        DOG BEST
                    </div>
                    <div></div>
                </div>
                <ul class="ani_best">
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ani_product">
                                <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                                <div class="product_text">
                                    <div class="product_title">건강백서 건강한 피부 6kg</div>
                                    <b>32,000원</b>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!--컨테이너 영역-->
    <%-include('../partials/footer')-%>
    <!--footer-->
</div>
</body>
</html>