<!doctype html>
<html>
<head>
    <%-include('partials/header.ejs');-%>
    <title>BOM's pick</title>
    <link rel="stylesheet" href="../stylesheets/pick.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
<div id="wrap">
   <%-include('partials/nav.ejs');-%>
    <!--헤더-->
   <%-include('partials/pick_icon.ejs');-%>
    <!--pick 아이콘-->
    <div id="container">
       <%-include('patials/floatbanner.ejs);'-%>
        <div class="pick">
            <div class="profile_title">
                BOM's pick
            </div>
            <div class="profile">
                <div class="profile_img">
                    <img src="../images/bom2.svg" width="500px" height="500px" alt="봄이">
                </div>
                <div class="profile_content">
                    <h4 style="margin: 0 0 20px 0">BOM's profile</h4>
                    <h>이름 : 봄<br></h>
                    <h>생년월일 : 2015.05<br></h>
                    <h>성별 : 여<br></h>
                    <h>종류 : 코리안숏헤어<br></h>
                    <h>성격 : 까칠하고 귀여움</h>
                </div>
            </div>
            <div class="pick_product">
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="ani_product">
                        <img src="../images/dogbest.svg" width="200px" height="200px" alt="얌이">
                        <div class="product_text">
                            <div class="product_title">건강백서 건강한 피부 6kg</div>
                            <b>32,000원</b>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--컨테이너 영역-->
    <%-include('patials/footer.ejs');-%>
    <!--footer-->
</div>
</body>
</html>