<!DOCTYPE html>
<html>
<head>
    <%-include('../partials/header.ejs');-%>
    <title>Pet Information</title>
    <link rel="stylesheet" href="../stylesheets/petInfo.css">
</head>
<body>
<div id="wrap">
    <%-include('../partials/nav.ejs');-%>
    <!--카테고리헤더-->
    <%-include('../partials/pick_icon.ejs');-%>
    <!--pick 아이콘-->
    <div id="container">
        <%-include('../partials/floatbanner.ejs');-%>
        <div class="petInfo_text">동물 정보 입력</div>
        <div class="petInfo_box">
            <div class="petInfo_item petImage_input">
                <label for="ex_file">사진을 첨부해주세요</label>
                <input type="file" id="ex_file">
            </div>
            <label class="petInfo_item dog_click"><input type="radio" checked="checked" name="species"><span>강아지</span></input></label>
            <label class="petInfo_item cat_click"><input type="radio" name="species"><span>고양이</span></input></label>
            <input type="text" onfocus="this.value=''" class="petInfo_item petName_input" value="*이름"></input>
            <input type="text" onfocus="this.value=''" class="petInfo_item petSpecies_input" value="*종"></input>
            <input type="text" onfocus="this.value=''" class="petInfo_item petAge_input" value="*나이"></input>
            <input type="text" onfocus="this.value=''" class="petInfo_item petGender_input" value="*성별"></input>
            <input type="text" onfocus="this.value=''" class="petInfo_item petWeight_input" value="*몸무게"></input>
            <input type="text" onfocus="this.value=''" class="petInfo_item petEtc_input" value="기타사항"></input>
            <button type="button" class="petInfo_item register_button">회원가입</button>
        </div>
    </div>
    <%-include('../partials/footer.ejs');-%>
</div>
</body>
</html>