<!DOCTYPE html>
<html>
<head>
    <title>join</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
    <%- include('../partials/header.ejs'); -%>
</head>
<body>
<div id="wrap">
    <%- include('../partials/nav.ejs' , {categories : categories}); -%>
    <%- include('../partials/pick_icon.ejs'); -%>
    <!--pick 아이콘-->
    <div id="container">
        <%-include('../partials/floatbanner.ejs');-%>
        <div class="join_text">회원가입</div>
        <div class="join_box">
            <form action="/auth/signup" method="post">
            <input type="text" name="email" class="join_item id_input" placeholder="*아이디(이메일 형식)">
            <input type="text" name="pw" class="join_item pwd_input" placeholder="*비밀번호">
            <input type="text" name="pwRe" class="join_item pwd2_input" placeholder="*비밀번호 확인">
            <input type="text" name="name" class="join_item name_input" placeholder="*이름">
            <input type="text" name="phone" class="join_item phone_input" placeholder="*전화번호">
            <input type="text" name="address" class="join_item address_input" placeholder="*주소">
            <div class="join_item input_text">성별
                <label><input type="radio" class="genderCheck_txt" name="gender" value="1">여자</label>
                <label><input type="radio" class="genderCheck_txt" name="gender" value="0">남자</label>
            </div>
            <div class="join_item input_text">
                생년월일&nbsp;&nbsp;
                <input type="text" name="birthday" class="" placeholder="2000.12.12">
            </div>
            <input type="submit" class="item jn_box" text="회원가입">
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs'); -%>
</div>
</body>
</html>