<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <%-include('../partials/header.ejs');-%>
</head>
<body>
<div id="wrap">
    <%-include('../partials/nav.ejs' , {categories : categories});-%>
    <%-include('../partials/pick_icon.ejs');-%>
    <%-include('../partials/floatbanner.ejs');-%>
    <!--pick 아이콘-->
    <div id="container">
        <div class="login_text">LOGIN</div>
        <div class="login_box">
            <div class="item login_txt">회원 로그인</div>
            <form action="/auth/signin" method="post">
                <input type="email" class="item id_box" name="email" placeholder="아이디(이메일)">
                <input type="password" class="item pwd_box" name="pw" placeholder="비밀번호">
            <button type="submit" class="item log_box">로그인</button>
            </form>
            <label>
                <input type="checkbox" class="item2 loginCheck_txt">아이디 저장</input>
            </label>
            <a href="/auth/request-reset" class="item2 pwd_find">비밀번호 재설정</a>

        </div>
        <a href="/auth/signup" class="login_img">
            <img src="/images/joinLink.svg" alt="회원가입창 이동">
        </a>
    </div>
    <%-include('../partials/footer.ejs');-%>
</div>
</body>
</html>